<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>

<body>
    <p th:text="${
    person.getFullName() + ', ' +
    person.getYearOfBirth()
    }"></p>

    <hr/>

    <div th:if="${person.getBooks().isEmpty()}">
        <p>The person hasn't any book</p>
    </div>

    <div th:unless="${person.getBooks().isEmpty()}">
        <p>Books: </p>
        <ol>
            <li th:each="book : ${books}">
                <a th:text="${
                book.getTitle + ', ' +
                book.getAuthor() + ', ' +
                book.getYear()
                }"
                   th:style="${book.isOverdue() ? 'color:red' : 'color:black'}"
                   th:href="@{../books/{id} (id = ${book.getId()})}">
                </a>
            </li>
        </ol>
    </div>

    <hr/>

    <table border="0">
        <tr>
            <td align="center">
                <form th:method="GET" th:action="@{/people/{id}/edit (id=${person.getId()})}">
                    <input type="submit" value="EDIT"/>
                </form>
            </td>

            <td align="center">
                <form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}">
                    <input type="submit" value="DELETE"/>
                </form>
            </td>

            <td align="center">
                <form th:method="GET" th:action="@{/people}">
                    <input type="submit" value="GO TO PERSON LIST"/>
                </form>
            </td>

            <td align="center">
                <form th:method="GET" th:action="@{/books}">
                    <input type="submit" value="GO TO BOOK LIST"/>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>